@using Microsoft.AspNet.Identity
@using Express_Report_Folders.Web.Controllers;
@using Express_Report_Folders.Web.App_Code;
@if (Request.IsAuthenticated)
{
	using (Html.BeginForm(nameof(AccountController.LogOff), nameof(AccountController).GetControllerName(), FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
	{
		@Html.AntiForgeryToken()

		<ul class="nav navbar-nav navbar-right">
			<li>
				@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", nameof(ManageController.Index), nameof(ManageController).GetControllerName(), routeValues: null, htmlAttributes: new { title = "Manage" })
			</li>
			<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
			<li>@Html.ActionLink("Register", nameof(AccountController.Register), nameof(AccountController).GetControllerName(), routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
		</ul>
	}
}
else
{
	<ul class="nav navbar-nav navbar-right">
		@*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
		<li>@Html.ActionLink("Log in", nameof(AccountController.Login), nameof(AccountController).GetControllerName(), routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
	</ul>
}
